*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.h1 {
    text-align: center;
}
.container {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: plum;
}

.card{
    width: 400px;
    height: 250px;
    background: linear-gradient(to right bottom,
        rgb(57, 86, 202),
        rgba(57, 86, 202,0.5),
        rgba(57, 86, 202, 0.1));
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 20px;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-left: 1px solid rgba(255,255,255,0.8);
}
.card .ad {
    font-size: 50px;
    color: rgba(253, 222, 176, 0.8);
    font-family: monospace, tahoma;
    transform: translate(70px, 50px) rotate(-10deg);
    transform-origin: 0;
}
.card .logo{
    font-family: menlo, tahoma;
    text-shadow: 1px 1px 2px #666;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.num {
    font-size: 28px;
    font-family: menlo, tahoma;
    text-shadow: 6px 6px 10px #666;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
    transform: translate(0, 100px);
}